<h1 class="title" style="font-family: helvetica;text-align: center;text-transform: uppercase;color: #4F4F4F;">Informacije o tečaju</h1>
<h4 class="slogan" style="font-family: helvetica;text-align: center;color: #BDBDBD;">Vaš najbolji partner za financijske informacije</h4>

<div class="main" style="margin: 0 auto;max-width: 640px;">
  <h2 class="current-date" style="font-family: helvetica;margin-top: 100px;margin-left: 15px;padding-left: 15px;font-weight: 500;color: #828282;text-transform: uppercase;">Važeći datum: <%= @end_date.strftime('%d.%m.%Y') %></h2>

  <table class="tecaj" style="font-family: Helvetica;border: 0;margin: 23px 18px 0px 18px;cellspacing: 0;width: 100%;border-collapse: collapse;text-align: left;">
    <tr class="tecaj__header" style="font-family: Helvetica;text-transform: uppercase;color: #BDBDBD;font-size: 16px;border-bottom: 1px solid lightgray;">
      <th class="tecaj__header--item" style="margin-top: 23px;padding-left: 15px;height: 50px;width: 170px;">Valuta</th>
      <th class="tecaj__header--item" style="margin-top: 23px;padding-left: 15px;height: 50px;width: 170px;">Srednji</th>
      <th class="tecaj__header--item" style="margin-top: 23px;padding-left: 15px;height: 50px;width: 170px;">Kupovni</th>
		  <th class="tecaj__header--item" style="margin-top: 23px;padding-left: 15px;height: 50px;width: 170px;">Prodajni</th>
    </tr>
   
    <% @exchange_rates.map do |exchange_rate| %>

          <tr class="tecaj__row" style="font-size: 16px;font-weight: 700;text-align: left;">

            <td class="tecaj__row--item" style="padding: 20px;vertical-align: top;"><%=  exchange_rate["ending"].currencies.currency %></td>

            <td class="tecaj__row--item" style="padding: 20px;vertical-align: top;">
              <div class="container" style="display: flex;flex-direction;flex-direction: column;color: #4F4F4F;">
                <div class="item-row" style="display: flex;">
                  <span class="deviza"><%= exchange_rate["ending"].middle_rate %></span>
                </div>
                <div class="item-row-inner" style="display: flex;">
                  <% if exchange_rate["difference_middle"] > 0 %>
                      <div class="container-up" style="align-self: middle;">
                        <span class="triangle-up" style="border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 10px solid green;"></span>
                      </div>
                      <span class="stopa-up" style="align-self: bottom;margin-left: 10px;padding-top: 18px;font-size: 12px;"><%= exchange_rate["difference_middle"].to_s %>%</span>
                    </div>
                  <% elsif exchange_rate["difference_middle"] < 0 %>
                      <div class="container-down" style="margin-top: 29px;">
                        <span class="triangle-down" style="border-left: 6px solid transparent;border-right: 6px solid transparent;border-top: 10px solid red;"></span>
                      </div>
                      <span class="stopa-down" style="margin-top: 18px;margin-left: 10px;font-size: 12px;"><%= exchange_rate["difference_middle"].abs.to_s %>%</span>
                    </div>
                  <% else %>
                  <% end %>
                </div>
            </td>

            <td class="tecaj__row--item" style="padding: 20px;vertical-align: top;">
              <div class="container" style="display: flex;flex-direction;flex-direction: column;color: #4F4F4F;">
                <div class="item-row" style="display: flex;">
                  <span class="deviza"><%= exchange_rate["ending"].buying_rate %></span>
                </div>
                <div class="item-row-inner" style="display: flex;">
                  <% if exchange_rate["difference_buying"] > 0 %>
                      <div class="container-up" style="align-self: middle;">
                        <span class="triangle-up" style="border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 10px solid green;"></span>
                      </div>
                      <span class="stopa-up" style="align-self: bottom;margin-left: 10px;padding-top: 18px;font-size: 12px;"><%= exchange_rate["difference_buying"].to_s %>%</span>
                    </div>
                  <% elsif exchange_rate["difference_buying"] < 0 %>
                      <div class="container-down" style="margin-top: 29px;">
                        <span class="triangle-down" style="border-left: 6px solid transparent;border-right: 6px solid transparent;border-top: 10px solid red;"></span>
                      </div>
                      <span class="stopa-down" style="margin-top: 18px;margin-left: 10px;font-size: 12px;"><%= exchange_rate["difference_buying"].abs.to_s %>%</span>
                    </div>
                  <% else %>
                  <% end %>
                </div>
            </td>
            
            <td class="tecaj__row--item" style="padding: 20px;vertical-align: top;"> 
              <div class="container" style="display: flex;flex-direction;flex-direction: column;color: #4F4F4F;">
                <div class="item-row" style="display: flex;">
                  <span class="deviza"><%= exchange_rate["ending"].selling_rate %></span>
                </div>
                <div class="item-row-inner" style="display: flex;">
                  <% if exchange_rate["difference_selling"] > 0 %>
                      <div class="container-up" style="align-self: middle;">
                        <span class="triangle-up" style="border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 10px solid green;"></span>
                      </div>
                      <span class="stopa-up" style="align-self: bottom;margin-left: 10px;padding-top: 18px;font-size: 12px;"><%= exchange_rate["difference_selling"].to_s %>%</span>
                    </div>
                  <% elsif  exchange_rate["difference_selling"] < 0 %>
                      <div class="container-down" style="margin-top: 29px;">
                        <span class="triangle-down" style="border-left: 6px solid transparent;border-right: 6px solid transparent;border-top: 10px solid red;"></span>
                      </div>
                      <span class="stopa-down" style="margin-top: 18px;margin-left: 10px;font-size: 12px;"><%= exchange_rate["difference_selling"].abs.to_s %>%</span>
                     </div>     
                  <% else %>
                  <% end %>
                </div>
            </td>
          </tr>

    <% end %>
  </table>

 <h2 class="current-date" style="font-family: helvetica;margin-top: 100px;margin-left: 15px;padding-left: 15px;font-weight: 500;color: #828282;text-transform: uppercase;">Uspoređivani tečaj po odabranom datumu:</h2>

  <table class="tecaj" style="font-family: Helvetica;border: 0;margin: 23px 18px 0px 18px;cellspacing: 0;width: 100%;border-collapse: collapse;text-align: left;">
    <tr class="tecaj__header" style="font-family: Helvetica;text-transform: uppercase;color: #BDBDBD;font-size: 16px;border-bottom: 1px solid lightgray;">
      <th class="tecaj__header--item" style="margin-top: 23px;padding-left: 15px;height: 50px;width: 170px;">Valuta</th>
      <th class="tecaj__header--item" style="margin-top: 23px;padding-left: 15px;height: 50px;width: 170px;">Srednji</th>
      <th class="tecaj__header--item" style="margin-top: 23px;padding-left: 15px;height: 50px;width: 170px;">Kupovni</th>
		  <th class="tecaj__header--item" style="margin-top: 23px;padding-left: 15px;height: 50px;width: 170px;">Prodajni</th>
    </tr>
   
    <% @exchange_rates.map do |exchange_rate| %>
    
      <% if exchange_rate["starting"].start_date != @prev_date %>
        <span class="tecaj__date" ><p>
          <%=  @prev_date = exchange_rate["starting"].start_date
            exchange_rate["starting"].start_date.strftime('%d.%m.%Y') %>
        </p></span>
      <% else %>
      <% end %>

          <tr class="tecaj__row" style="font-size: 16px;font-weight: 700;text-align: left;">

            <td class="tecaj__row--item" style="padding: 20px;vertical-align: top;"><%= exchange_rate["starting"].currencies.currency %></td>

            <td class="tecaj__row--item" style="padding: 20px;vertical-align: top;">
              <div class="container" style="display: flex;flex-direction;flex-direction: column;color: #4F4F4F;">
                <div class="item-row" style="display: flex;">
                  <span class="deviza"><%= exchange_rate["starting"].middle_rate %></span>
                </div>
            </td>

            <td class="tecaj__row--item" style="padding: 20px;vertical-align: top;">
              <div class="container" style="display: flex;flex-direction;flex-direction: column;color: #4F4F4F;">
                <div class="item-row" style="display: flex;">
                  <span class="deviza"><%= exchange_rate["starting"].buying_rate %></span>
                </div>
              </td>
            
            <td class="tecaj__row--item" style="padding: 20px;vertical-align: top;">
              <div class="container" style="display: flex;flex-direction;flex-direction: column;color: #4F4F4F;">
                <div class="item-row" style="display: flex;">
                  <span class="deviza"><%= exchange_rate["starting"].selling_rate %></span>
                </div>
            </td>
          </tr>

    <% end %>
  </table>
</div>

<button class="button" style="text-transform: uppercase;background-color: #B01010;border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;margin-left: 40%;margin-top: 50px;font-weight: 600;">Check more</button>




